@CHARSET "ISO-8859-1";
@import "mytheme.css";

.backColor{background: url("images/srh.jpg") no-repeat;}

.backgroundimage{
	background: url("images/srh.jpg") no-repeat;
 background-size: 200px 300px;
} 
    
 .v-caption-labelblue {
    font-size: 12px;
  color: red;
    }
    
    .playerbackground{
     background: url("images/music.jpg") no-repeat;     
     background-size: 1400px 650px;      
    }
    
    .backgroundblack{
    background: black;
     
    }
    
    .playercontainer{
     
         }
    
   .contentbar{
    background: url("images/music.jpg") no-repeat;     
     background-size: 1400px 700px; 
    }
    
    .menusheet{
    background:black;
    color:red;
    }
    
    .title{
    font-weight: 800;
    display:center
    color:red;
    
    }
    
    
    .topBar{
    background:#887F7C;
        height:90px;
    width:100%;
    }

