@CHARSET "ISO-8859-1";
@import "mytheme.css";

.backColor{background: black;}

.backgroundimage {
       background: url("resources/srh.jpg") no-repeat;
    } 
    
 .v-caption-labelblue {
    font-size: 12px;
  color: red;
    }
    
    .backgroundblack{
    background: black;
    }

